body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1648px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:336px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12869 {
  position:absolute;
  left:1103px;
  top:340px;
  width:557px;
  height:336px;
}
#u12870 {
  position:absolute;
  left:2px;
  top:160px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:974px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12871 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:974px;
}
#u12872 {
  position:absolute;
  left:2px;
  top:479px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:55px;
}
#u12873 {
  position:absolute;
  left:14px;
  top:11px;
  width:63px;
  height:55px;
}
#u12874 {
  position:absolute;
  left:2px;
  top:20px;
  width:59px;
  word-wrap:break-word;
}
#u12875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12875 {
  position:absolute;
  left:-12px;
  top:80px;
  width:102px;
  height:34px;
}
#u12876 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u12877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12877 {
  position:absolute;
  left:-12px;
  top:124px;
  width:102px;
  height:34px;
}
#u12878 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12879 {
  position:absolute;
  left:-12px;
  top:183px;
  width:102px;
  height:34px;
}
#u12880 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u12881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:309px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12881 {
  position:absolute;
  left:1103px;
  top:51px;
  width:557px;
  height:309px;
}
#u12882 {
  position:absolute;
  left:2px;
  top:146px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:311px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  position:absolute;
  left:1100px;
  top:61px;
  width:560px;
  height:311px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:148px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12887 {
  position:absolute;
  left:1115px;
  top:68px;
  width:116px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12888 {
  position:absolute;
  left:2px;
  top:8px;
  width:112px;
  word-wrap:break-word;
}
#u12889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u12889 {
  position:absolute;
  left:1103px;
  top:111px;
  width:527px;
  height:34px;
  color:#000000;
  text-align:left;
}
#u12890 {
  position:absolute;
  left:2px;
  top:9px;
  width:523px;
  word-wrap:break-word;
}
#u12891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u12891 {
  position:absolute;
  left:1103px;
  top:135px;
  width:527px;
  height:43px;
  font-size:11px;
  color:#868686;
  text-align:left;
}
#u12892 {
  position:absolute;
  left:2px;
  top:8px;
  width:523px;
  word-wrap:break-word;
}
#u12893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#0000FF;
}
#u12893 {
  position:absolute;
  left:1577px;
  top:178px;
  width:68px;
  height:21px;
  font-size:11px;
  color:#0000FF;
}
#u12894 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u12895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u12895 {
  position:absolute;
  left:1577px;
  top:114px;
  width:68px;
  height:21px;
  font-size:11px;
  color:#797979;
}
#u12896 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u12897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12898 {
  position:absolute;
  left:1103px;
  top:194px;
  width:527px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u12899 {
  position:absolute;
  left:2px;
  top:10px;
  width:523px;
  word-wrap:break-word;
}
#u12900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u12900 {
  position:absolute;
  left:1577px;
  top:198px;
  width:68px;
  height:21px;
  font-size:11px;
  color:#797979;
}
#u12901 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u12902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12903 {
  position:absolute;
  left:1103px;
  top:229px;
  width:527px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u12904 {
  position:absolute;
  left:2px;
  top:10px;
  width:523px;
  word-wrap:break-word;
}
#u12905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u12905 {
  position:absolute;
  left:1577px;
  top:233px;
  width:68px;
  height:21px;
  font-size:11px;
  color:#797979;
}
#u12906 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u12907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12908 {
  position:absolute;
  left:1103px;
  top:267px;
  width:527px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u12909 {
  position:absolute;
  left:2px;
  top:10px;
  width:523px;
  word-wrap:break-word;
}
#u12910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u12910 {
  position:absolute;
  left:1577px;
  top:271px;
  width:68px;
  height:21px;
  font-size:11px;
  color:#797979;
}
#u12911 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u12912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u12913 {
  position:absolute;
  left:1103px;
  top:311px;
  width:527px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u12914 {
  position:absolute;
  left:2px;
  top:10px;
  width:523px;
  word-wrap:break-word;
}
#u12915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#797979;
}
#u12915 {
  position:absolute;
  left:1577px;
  top:315px;
  width:68px;
  height:21px;
  font-size:11px;
  color:#797979;
}
#u12916 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u12917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12917 {
  position:absolute;
  left:1110px;
  top:66px;
  width:20px;
  height:40px;
}
#u12918 {
  position:absolute;
  left:2px;
  top:12px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12921 {
  position:absolute;
  left:1103px;
  top:397px;
  width:136px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12922 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u12923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12923 {
  position:absolute;
  left:1103px;
  top:456px;
  width:386px;
  height:34px;
  text-align:left;
}
#u12924 {
  position:absolute;
  left:2px;
  top:1px;
  width:382px;
  word-wrap:break-word;
}
#u12925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12925 {
  position:absolute;
  left:1103px;
  top:497px;
  width:386px;
  height:46px;
  text-align:left;
}
#u12926 {
  position:absolute;
  left:2px;
  top:7px;
  width:382px;
  word-wrap:break-word;
}
#u12927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12927 {
  position:absolute;
  left:1110px;
  top:391px;
  width:20px;
  height:40px;
}
#u12928 {
  position:absolute;
  left:2px;
  top:12px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:2px;
}
#u12929 {
  position:absolute;
  left:1103px;
  top:340px;
  width:557px;
  height:1px;
}
#u12930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u12931 {
  position:absolute;
  left:1103px;
  top:-4px;
  width:557px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u12932 {
  position:absolute;
  left:2px;
  top:12px;
  width:553px;
  word-wrap:break-word;
}
#u12933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12933 {
  position:absolute;
  left:191px;
  top:4px;
  width:900px;
  height:60px;
}
#u12934 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12935 {
  position:absolute;
  left:-12px;
  top:237px;
  width:102px;
  height:34px;
}
#u12936 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u12937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12937 {
  position:absolute;
  left:480px;
  top:15px;
  width:127px;
  height:38px;
}
#u12938 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u12939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12939 {
  position:absolute;
  left:625px;
  top:15px;
  width:127px;
  height:38px;
}
#u12940 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u12941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12941 {
  position:absolute;
  left:337px;
  top:15px;
  width:127px;
  height:38px;
}
#u12942 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u12943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12943 {
  position:absolute;
  left:224px;
  top:102px;
  width:71px;
  height:16px;
}
#u12944 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12945 {
  position:absolute;
  left:298px;
  top:95px;
  width:166px;
  height:30px;
}
#u12946 {
  position:absolute;
  left:2px;
  top:7px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12947 {
  position:absolute;
  left:470px;
  top:95px;
  width:83px;
  height:30px;
}
#u12948 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u12949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:978px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12949 {
  position:absolute;
  left:90px;
  top:-4px;
  width:90px;
  height:978px;
}
#u12950 {
  position:absolute;
  left:2px;
  top:481px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12951 {
  position:absolute;
  left:100px;
  top:75px;
  width:73px;
  height:30px;
}
#u12952 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u12953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12953 {
  position:absolute;
  left:91px;
  top:25px;
  width:88px;
  height:30px;
}
#u12954 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u12955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:38px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12955 {
  position:absolute;
  left:196px;
  top:15px;
  width:127px;
  height:38px;
}
#u12956 {
  position:absolute;
  left:2px;
  top:11px;
  width:123px;
  word-wrap:break-word;
}
#u12957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12957 {
  position:absolute;
  left:-2px;
  top:281px;
  width:102px;
  height:34px;
}
#u12958 {
  position:absolute;
  left:2px;
  top:9px;
  width:98px;
  word-wrap:break-word;
}
#u12959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:32px;
}
#u12959 {
  position:absolute;
  left:-5px;
  top:45px;
  width:95px;
  height:32px;
  font-size:10px;
}
#u12960 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
